<div class="carousel-homepage">
   <div><img src="/app/home/Boston1a.jpg" /></div>
   <div><img src="/app/home/Boston2a.jpg" /></div>
   <div><img src="/app/home/Boston3a.jpg" /></div>
</div>

<div class="well">
   The <em><b>Boston Police Department (BPD)</b></em>, dating back to 1838,
   holds the primary responsibility for law enforcement and
   investigation within the city of Boston, Massachusetts.
   It is the first in the nation.
   The BPD is also the 20th largest law enforcement agency in the country
   and the 3rd largest in New England behind the Massachusetts State Police
   (2,300 officers) and the Massachusetts Department of Correction (4,000 officers).
</div>